@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* 스크롤바 스타일 */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #e2e8f0;
    }
    ::-webkit-scrollbar-button {
        display: none;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #d8dde5;
    }
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
        border-radius: 100px;
    }
}